/* EVITA SCROLL LATERAL GLOBAL */
*,
*::before,
*::after{
  box-sizing: border-box;
}

html, body{
  overflow-x: hidden;
  width: 100%;
}
body{
  width: 100%;
  height: 100%;

  --s: 170px;
  --c1: #1a4341;
  --c2: #4f807c;
  --c3: #356260;
  --thickness: 15px;

  background-color: var(--c1);

  background-image: repeating-linear-gradient(
      45deg,
      var(--c2) 0 var(--thickness),
      transparent var(--thickness) calc(var(--thickness) * 2)
    ),
    repeating-linear-gradient(
      -45deg,
      var(--c3) 0 var(--thickness),
      transparent var(--thickness) calc(var(--thickness) * 2)
    );

  background-size: var(--s) var(--s);
    font-family: 'Press Start 2P', monospace;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #00000046;
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    animation: slideDown 0.8s ease-out forwards;
    z-index: 1;
    backdrop-filter: blur(4px);
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
    padding: 30px;
}

ul li{
    list-style: none;
    display: inline-block; /* Asegura que el contenedor respete el tamaño del contenido */
    transition: transform 0.2s ease; /* Transición rápida para volver al estado normal */
    
}

ul li:hover {
    /* Llamamos a la animación de salto */
    animation: jump-retro 0.4s ease forwards;
    cursor: pointer;
}
/* Definimos el efecto de salto y agrandado */
@keyframes jump-retro {
  0% {
    transform: scale(1) translateY(0);
  }
  50% {
    transform: scale(1.2) translateY(-15px); /* Se agranda y sube */
  }
  100% {
    transform: scale(1.15) translateY(-10px); /* Se queda un poco más grande y elevado */
  }
}

ul li a{
    font-family: 'Press Start 2P', monospace;
    text-decoration: none;
    color: white;
    font-size: 30px;
}

ul li a:hover{
    color: #000000;

}

section{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 94px;
    align-items: center;
    justify-content: center;
     /* animación */
    transform: translateY(-60px);
    opacity: 0;
    animation: slideDown 0.8s ease-out forwards;
    animation-delay: 0.8s;
    padding-top: 10px;
}

section h1{
  color: white;
  font-size: 50px;
 
}

.sobreMi h1{
    margin-top: 30px;
}

.sobreMi{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
     
}

.sobreMi img{
    border-radius: 150px;
    border: 6px solid #000;
    width: 420px;
    height: 420px;
    object-fit: cover;
}

.sobreMi h4{
  color: white;
  font-size: 16px;
  line-height: 1.5;
  max-width: 600px;
  text-align: left;
  background: rgba(0, 0, 0,0.35);
  padding: 20px;
  border-radius: 15px;
  border: 2px solid rgba(255,255,255,0.15);
  backdrop-filter: blur(4px);
}

.section2{
  width: 100%;
  height: auto;
  background-color: #00000078;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding-bottom: 50px;
  backdrop-filter: blur(4px);
  overflow: hidden;
}

.section2 .img2-sticker img{
  width: 400px;
  height: 400px;
}

.lista2{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.section2 .lista2 .listaHabilidades{
  width: 470px;
  height: 500px;
  border: 5px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 20px;
  background-color: #132727;
}

.section2 .lista2 .listaHabilidades p{
  font-size: 25px;
  font-weight: 700;
  color: white;
  align-self: flex-start;
  padding-left: 20px;
  
}

.section2 .lista2 h1{
  font-weight: 800;
  background-color: #000000;
  border-radius: 10px;
  width: 310px;
}

/*Footer*/
footer{
    width: 100%;
    height: 166px;
    color: white;
    background-color: #000000;
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* animación */
    transform: translateY(-60px);
    opacity: 0;
    animation: slideDown 0.8s ease-out forwards;
    animation-delay: 0.8s;
}

@media (max-width: 768px) {

  /* NAVBAR */
  header {
    height: auto;
    padding: 10px 0;
    gap: 30px;
  }

  ul {
    flex-direction: row;
    flex-wrap: wrap;     
    gap: 15px;                
    padding: 10px;
  }

  ul li a {
    font-size: 16px; 
    display: flex;
   
  }


 section {
    margin-top: 120px;   
    gap: 40px;           
    padding: 0 20px;
    text-align: center;
  }

  section h1 {
    font-size: 24px;    
    line-height: 1.4;
  }

  .sobreMi {
    flex-direction: column;   
    gap: 25px;                
  }

  .sobreMi img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
  }

  .sobreMi h4 {
    font-size: 12px;
    line-height: 1.8;
    max-width: 320px;         
  }

  footer {
    width: 100%;
    height: 248.6px;
    
    
  }

  footer h1 {
    font-size: 14px;
  }
}

@media (max-width: 900px){

   .section2{
    gap: 40px;
    padding: 40px 20px;
    flex-direction: column;
  }

  .section2 .img2-sticker img{
    width: 260px;
    height: 260px;
  }

  .section2 .lista2 .listaHabilidades{
    width: 90%;
    max-width: 320px;
    height: auto;
    padding: 20px;
  }

  .section2 .lista2 .listaHabilidades p{
    font-size: 16px;
  }

  .section2 .lista2 h1{
    width: auto;
    font-size: 18px;
  }
}

@media (max-width: 600px){

   .section2{
    flex-direction: column;
    padding: 40px 10px;
    gap: 30px;
  }

  .section2 .img2-sticker img{
    width: 180px;
    height: 180px;
  }

  .section2 .lista2 .listaHabilidades{
    width: 95%;
    height: auto;
  }

}


