body{
    margin-top: -100px;
}

.bitmoji1 {
    margin-top: 100px;
    margin-left: 200px;
    border-radius: 50px; 
    border: 10px solid #0D1B2A;
    margin-bottom: 210px;
}

section{
    margin-top: -110px;
}

h2{
    color: #0D1B2A;
    margin-left: 590px;
    margin-top: -500px;
    font-size: 70px;
    font-weight: 700;

}
  
.hr1{
    width: 100%; 
    height: 150px; 
    background-color: #E0E1DD; 
    border: none; 
    margin-top: 90px;
}

h1{
    font-size: 80px;
    font-weight: 700;
    margin-left: 190px;
    margin-top: 190px;
    color: #0D1B2A;
}

.text1{
    margin-left: 190px;
    color: #0D1B2A;

}

.text2{
    margin-left: 190px;
    color: #0D1B2A;
}


.animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 36px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: #0D1B2A;
    box-shadow: 0 0 0 2px #0D1B2A;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    margin-left: 180px;
}
  
.animated-button svg {
    position: absolute;
    width: 24px;
    fill: #0D1B2A;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
  
.animated-button .arr-1 {
    right: 16px;
}
  
.animated-button .arr-2 {
    left: -25%;
}
  
.animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #0D1B2A;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
  
.animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
  
.animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #778DA9;
    border-radius: 12px;
}
  
.animated-button:hover .arr-1 {
    right: -25%;
}
  
.animated-button:hover .arr-2 {
    left: 16px;
}
  
.animated-button:hover .text {
    transform: translateX(12px);
}
  
.animated-button:hover svg {
    fill: #778DA9;
}
  
.animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px #0D1B2A;
}
  
.animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
}

.card{
    margin-left: 800px;
    margin-top: -400px;
    background-color: #E0E1DD;
}

.titulo-c{
    color: #0D1B2A;
    font-size: 60px;
    font-weight: 300;
}

.titulo-c span{
    color: #415A77;
    font-weight: 700;
    
}

section{
    margin-top: 150px;
    padding-left: 100px;
}

.icon-container1 {
    padding-left: 320px;
    display: flex; 
    justify-content: flex-start; 
    align-items: flex-end; 
    margin: 10px; 

}

  /* Estilo para los iconos individuales */
  .icon-container1 img {
    width: 50px; 
    height: 50px; 
    margin-right: 25px; 
}

footer{
  background-color: #0D1B2A;
  width: 100%;
  height: 120px;
  color: #415A77;
  text-align: center;
  font-family: "popins" sans-serif;
  letter-spacing: 1px;
  padding-top: 40px;
}
